body{
    background-color: beige;
    color:rgb(100, 137, 223);
}


h1{
    font-size:36px;
    color: rgb(192, 64, 85);
    text-align:center;
}

h2{
    color:blueviolet;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    
}
p{
    font-size: 25px;
}

/*this is a comment*/
#pinkparagraph{
    color:pink;}

    .pretty{font-family: 'Courier New', Courier, monospace;}
    .ugly{font-family: Arial, Helvetica, sans-serif;}

.header {
    z-index: 10;
}

.common {
    background-color: aliceblue;
    border: 2px solid white;
    position: absolute;
}

.purpletext{
    color:purple;
}

.redtext{
    color:red;
}

.left{
    top: 115px;
    left: 15px;
    width: 100px;
    bottom: 40px;
}
.main{
    top: 115px;
    left: 130px;
    right: 140px;
    bottom: 40px;
}

.right {
    top: 115px;
    right: 25px;
    width: 100px;
    height: 100px;
}

.footer{
    bottom: 15px;
    height: 100px;
    left: 15px;
    right: 25px;
    position: fixed;
    background-color: aliceblue;
    border: 2px solid white;
}